* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  
}
img, iframe {
  max-width: 100%;
  height: auto;
}
body {
  overflow-x: hidden;
}
iframe {
  width: 100%;
}

#vid-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  padding: 16px;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}



#video-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#video-section {
  background-color: #91a3e63e;
}
.menu-button img {
  margin-right: 16px;
}

#close-menu-button img {
  margin-right: 16px;
}

.video-item {
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

h1 {
  color: rgb(26, 26, 26);
  font-weight: 700;
  font-family: "Montserrat";
}

.p-describe {
  color: rgb(26, 26, 26);
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 350;
  line-height: 1.8;
}

#hero-section {
  background-color: #e1e1e127;
  padding-bottom: 58px;
}

#hero-section img {
  height: auto;
  width: 100%;
}

footer img {
  width: 100%;
}
.color-section {
  background-color: #e1e1e127;
}
#section2 {
  background-color: #e1e1e127;
  color: white;
  display: flex;
  padding: 14px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#section2 a {
  color: white;
  text-decoration: none;
}
#skyline-container {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}
#skyline {
  width: 100%;
  display: block;
  margin: 0; 
}

#skyline-container button {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(64, 12, 81, 0.454);
  padding: 16px;
  border: solid 1px white;
  border-radius: 22px;
  text-align: center;
  line-height: 1;
}

.button-div {
  padding: 0px 16px 16px 16px;
  width: 100%;
  height: auto;
  display: flex;
}
.view-more-button {
  width: 100%;
  height: auto;
  border-radius: 100px;
  background-color: #556089;
  font-size: 45px;
}
.go-home-button {
  width: 100%;
  height: auto;
  border-radius: 100px;
  background-color: #e1e1e127;
  border: solid 1px #556089;
  color: #556089;
  font-size: 42px;
}

.master-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 
}

.grid-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  aspect-ratio: 1.5;

}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s;
  overflow: hidden;
}

.back {
  transform: rotateY(180deg);
}
.back p {
  color: black;
  font-size: 18px;
  padding: 18px;
}

.grid-item.flipped .front {
  transform: rotateY(180deg);
}

.grid-item.flipped .back {
  transform: rotateY(0);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid white 1px;
}

#footer-div {
  background-color: #9ab6f7;
  display: block;
  align-items: center;
  text-align: center;
  padding: 16px;
}

.footer-pic {
  width: 100%;
}

#footer-div p {
  padding-bottom: 16px;
  color: white;
  text-decoration: none;
}
#footer-div a {
  text-decoration: none;
}

/* Card Character Images */

#img1 {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/SailorMoon.png");
  max-width: 100%;
  border-radius: 6px;
}
#img2 {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/sailormars.png");
  max-width: 100%;
  border-radius: 6px;
}
#img3 {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/sailorvenus.png");
  max-width: 100%;
  border-radius: 6px;
}
#img4 {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/sailormercury.png");
  max-width: 100%;
  border-radius: 6px;
}
#img5 {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/sailorjupiter.png");
  max-width: 100%;
  border-radius: 6px;
}
#img6 {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/sailorneptune.png");
  max-width: 100%;
  border-radius: 6px;
}
#img7 {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/sailoruranus.png");
  max-width: 100%;
  border-radius: 6px;
}
#img8 {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/tuxedomask.png");
  max-width: 100%;
  border-radius: 6px;
}
#img9 {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/zoisite.png");
  max-width: 100%;
  border-radius: 6px;
}
#img10 {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/queenserenity.png");
  max-width: 100%;
  border-radius: 6px;
}
#img11 {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/mollybaker.png");
  max-width: 100%;
  border-radius: 6px;
}
#img12 {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/luna.png");
  max-width: 100%;
  border-radius: 6px;
}

/* Card Product Images */

#img1-product {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/product-images/il_1588xN.6176975321_ra4a.jpg");
  max-width: 100%;
  border-radius: 6px;
}

#img2-product {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/product-images/il_1588xN.2544157560_kfno.jpg");
  max-width: 100%;
  border-radius: 6px;
}

#img3-product {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/product-images/il_1588xN.6220380563_pzq7.jpg");
  max-width: 100%;
  border-radius: 6px;
}

#img4-product {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/product-images/blanket.jpg");
  max-width: 100%;
  border-radius: 6px;
}
#img5-product {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/product-images/cat-pj.jpg");
  max-width: 100%;
  border-radius: 6px;
}
#img6-product {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1) 102%
    ),
    url("images/product-images/heart-sticker.jpg");
  max-width: 100%;
  border-radius: 6px;
}
/*Input*/

/* Adjust grid layout for mobile */
@media (max-width: 768px) {
  .outer-card {
      width: 90%; /* 1 per row on mobile */
  }
}


input {
  width: 100%;
  height: 2.5em;
  padding-left: 1em;
  background-color: #e1e1e127;
  border: 1.5px solid rgb(82, 82, 82);
  border-radius: 16px;
}

input:focus {
  outline: none;
  border-color: #8394d1;
}

.style-results-container {
  padding: 0 16px 0 16px;
}

.results-container {
  padding-top: 0.5em;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  border-radius: 5px;
}

.results-container ul li {
  list-style: none;
  padding-left: 1em;
  padding-top: 0.5em;
  border-radius: 2px;
  color: rgb(26, 26, 26);
  padding-bottom: 0.5em;
  background-color: #8394d11c;
}

#section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.outer-card {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  flex: 1 1 calc(50% - 1em);
  height: 15em;
  margin-bottom: 1em;
}

.footer-pic {
  width: 30%;
}

#footer-div a {
  color: rgb(20, 43, 68);
}

#mymenu {
  background-color: #8394d1;
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 8%;
}

.mymenu ul {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mymenu li {
  text-align: center;
  padding: 1em;
}

#large-only-nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: end;
  width: 100%;
}

#large-only-nav li {
  list-style: none;
  text-decoration: none;
  padding-left: 28px;
}

#large-only-nav a {
  text-decoration: none;
  color: white;
}

.nav-image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.nav-image img {
  max-width: 100%;
  height: auto;
}

.mymenu a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

button {
  min-width: 44px;
  min-height: 44px;
  color: white;
  border: none;
}

#navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #91a4e6;
  padding: 0.5em;
  z-index: 1000;
}

.sailor-logo-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-icon-contain {
  display: flex;
  align-items: center;
}

.nav-pic {
  width: 100%;
  height: auto;
}

.menu-button img,
#close-menu-button img {
  width: 24px;
  height: auto;
  display: block;
}

/*Char Cards*/
.character-card {
  border: 3px solid #556089;
  border-radius: 6px;
  max-height: 100%;
  overflow: hidden;
}
.char-card-spacing {
  padding: 16px;
}
.top-color {
  background-color: #556089;
  border-radius: 1px 1px 0px 0px;
  width: 100%;
  height: auto;
  padding: 16px;
  text-align: center;
}
.top-color h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.character-image {
  max-width: 100%;
  height: auto;
}
.des-container {
  padding: 28px;
  font-size: 100px;
  display: flex;
  border-top: 1px solid rgb(200, 200, 200);
}
.character-description {
  font-size: 16px;
  color: #f1f1f1;
  text-align: left;
}

@media (max-width: 700px) {
  .back p {
    font-size: 12px;
  }
  .results-container ul li {
    font-size: 16px;
  }
  .input {
    font-size: 16px;
  }
  #vid-grid-container {
    grid-template-columns: 1fr; 
  }
  .view-more-button, .go-home-button {
    font-size: 18px;
  }
  
  #skyline-container button {
    width: 280px;
    font-size: 16px;
    height: 48px;
    border-radius: 100px;
    text-align: center;
    line-height: 1;
  }
 
  .nav-image img {
    width: 200px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  form {
    padding-left: 16px;
    padding-right: 16px;
  }
  #large-only-nav {
    visibility: hidden;
  }
  #navbar {
    width: 100%;
    height: 72px;
  }
  .nav-pic {
    width: 120px;
  }
  
  input {
    height: 3.5em;
    border-radius: 26px;
  }
  h1 {
    color: rgb(26, 26, 26);
    padding: 30px 16px 20px 16px;
    font-weight: 500;
    font-size: 24px;
  }
  a,
  p {
    font-size: 16px;
  }
  .top-color h2 {
    font-size: 22px;
  }
  .des-container p {
    font-size: 18px;
  }
  .outer-card {
    flex: 1 1 calc(50% - 1em);
    padding-left: 1em;
    padding-top: 13em;
  }
  #character-image {
    width: 34%;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px 0 10px 0;
  }
  iframe {
    height: 422px;
  }
  #vid-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    height: auto;
  }
  .footer-pic {
    width: 16%;
  }
}
/* Large Mobile Styles */
@media (max-width: 500px) {
  .back p {
    font-size: 10px;
  }
  #vid-grid-container {
    grid-template-columns: 1fr; 
  }
  .des-container p {
    font-size: 14px;
  }
  .view-more-button, .go-home-button {
    font-size: 16px;
  }
  #skyline-container button {
    width: 220px;
    font-size: 14px;
    height: 48px;
    border-radius: 100px;
    text-align: center;
    line-height: 1;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: red;
  }
  form {
    padding-left: 16px;
    padding-right: 16px;
  }
  #large-only-nav {
    visibility: hidden;
  }
  #navbar .sailor-logo-header {
    width: 100%;
  }
  .nav-pic {
    width: 120px;
  }
  #navbar {
    width: 100%;
    height: 72px;
  }
  .outer-card {
    flex: 1 1 100%;
    padding-left: 1em;
    padding-top: 13em;
  }
  iframe {
    height: 284px;
  }
  .footer-pic {
    width: 16%;
  }
  .nav-image img {
    width: 300px;
  }
  
}
/* Medium Mobile Styles */
@media (max-width: 400px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .back p {
    font-size: 14px;
  }
 
  #vid-grid-container {
    grid-template-columns: 1fr; 
  }
  .des-container p {
    font-size: 14px;
  }
  .view-more-button, .go-home-button {
    font-size: 16px;
  }
  #skyline-container button {
    width: 250px;
    font-size: 14px;
    height: 48px;
    border-radius: 100px;
    text-align: center;
    line-height: 1;
  }
  
  .menu-button img {
    width: 48px;
  }
  .nav-image img {
    max-width: 60%;
  }
  .outer-card {
    flex: 1 1 100% !important; 
  }
  .sailor-logo-header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }
}
/* Small Mobile Styles */
@media (max-width: 299px) {

  .back p {
    font-size: 10px;
  }
  .view-more-button, .go-home-button {
    font-size: 14px;
  }
  #skyline-container button {
    width: 190px;
    font-size: 12px;
    height: 40px;
    border-radius: 100px;
    text-align: center;
    line-height: 1;
  }
  #navbar {
    height: 50px;
  }
  .outer-card {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    flex: 1 1 100%; 
    height: 15em;
    margin-bottom: 1em;
  } 
  .nav-image img {
    min-width: 100%;
  }
}
/* Mobile Styles */
@media (max-width: 200px) {
  .back p {
    font-size: 10px;
  }

  #skyline-container button {
    width: 150px;
    font-size: 12px;
    height: 40px;
    border-radius: 100px;
    text-align: center;
    line-height: 1;
  }
  #navbar {
    width: 100%;
    height: 52px;
  }
  .nav-pic {
    width: 20px;
  }
  img, iframe {
    max-width: 100%;
    height: auto;
  }
  header {
    overflow-x: hidden;
  }
  .menu-button img {
    width: 48px;
    padding-right: 5px;
  }
  .sailor-logo-header {
    width: 100%;
    height: auto;
  }
}



/* Tablet Styles - Vertical */
@media (min-width: 701px) {
  #vid-grid-container {
    grid-template-columns: 1fr; 
  }
  .results-container ul li {
    font-size: 16px;
  }
  .input {
    font-size: 16px;
  }
  .des-container p {
    font-size: 18px;
  }
  .view-more-button, .go-home-button {
    font-size: 18px;
  }
  
  #skyline-container button {
    width: 300px;
    font-size: 16px;
    height: 48px;
    border-radius: 100px;
    text-align: center;
    line-height: 1;
  }
  .nav-image img {
    width: 200px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .nav-pic {
    width: 120px;
  }
  #large-only-nav {
    visibility: hidden;
  }
  #navbar {
    width: 100%;
    height: 72px;
  }
  #mymenu {
    display: none;
  }
  #hero-section img {
    width: 100%;
  }

  input {
    height: 3em;
    border-radius: 28px;
  }
  form {
    padding-left: 16px;
    padding-right: 16px;
  }

  h1 {
    color: rgb(26, 26, 26);
    padding: 30px 16px 20px 16px;
    font-weight: 500;
    font-size: 28px;
  }
  
  .outer-card {
    padding-left: 1em;
    padding-top: 13em;
  }
  #character-detail {
    padding: 20px;
  }
  .top-color h2 {
    font-size: 28px;
  }
  .des-container p {
    font-size: 18px;
  }
  
  #character-image {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px 0 10px 0;
  }
  .footer-pic {
    width: 16%;
  }
  .back p {
    font-size: 14px;
  }
}

@media (min-width: 800px) {
  #vid-grid-container {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr; 
    width: 100%;
  
  }
  .back p {
    font-size: 14px;
  }
}


/* Tablet Styles/small desktop - Horizontal */
@media (min-width: 1024px) {
  .back p {
    font-size: 16px;
  }
  .des-container p {
    font-size: 18px;
  }
  .view-more-button, .go-home-button {
    font-size: 20px;
  }
  #skyline-container button {
    width: 350px;
    font-size: 18px;
    height: 58px;
    border-radius: 100px;
    text-align: center;
    line-height: 1;
  }
  #navbar {
    width: 100%;
    height: 72px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #large-only-nav {
    visibility: visible;
  }
  #navbar .menu-icon-contain {
    visibility: hidden;
  }
  #navbar {
    width: 100%;
    height: 72px;
  }
  .nav-pic {
    width: 120px;
  }
  #hero-section {
    background-color: #e1e1e127;
    
  }
  form {
    padding-left: 0px;
  }
  #hero-section img {
    height: 600px;
    width: 100%;
  }
  .mymenu {
    visibility: hidden;
  }
  #first-content-home {
    padding: 100px;
  }
  #first-content-home-header {
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
  }
  input {
    width: 70%;
    height: 3em;
    border-radius: 28px;
  }
  .results-container {
    width: 100%;
    padding-left: 0px;

  }
  .style-results-container {
    width: 70%;
    border-radius: 5px;
  }
 
  h1 {
    color: rgb(26, 26, 26);
    padding: 30px 16px 20px 0px;
    font-weight: 500;
    font-size: 32px;
  }
  a,
  p {
    font-size: 18px;
  }
  .color-section,
  #section2 {
    padding-left: 50px;
    padding-right: 50px;
  }
  #section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .outer-card {
    flex: 1 1 calc(33.33% - 1em);
    padding-left: 1em;
    padding-top: 13em;
  }

  .top-color h2 {
    font-size: 28px;
  }
  .des-container p {
    font-size: 18px;
  }
  .character-card {
    border: 3px solid #556089;
    border-radius: 6px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .content-container {
    display: flex;
    flex-direction: row;
    padding: 16px;
    align-items: center;
  }

  .desktop-style {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
  }

  #character-image {
    width: 28%;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px 0 10px 0;
  }

  .des-container {
    padding: 20px;
    border-top: 1px solid rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
  }

  .des-container p:first-child {
    margin-bottom: 4px;
  }
  .des-container p {
    padding-top: 6px;
  }

  .character-description {
    font-size: 18px;
    color: #f1f1f1;
    text-align: left;
  }
  .footer-pic {
    width: 12%;
  }

  .button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 0;
    margin: 20px auto; 
    max-width: 752px; 
    width: 100%; 
}

.button-div {
    padding: 0;
    margin: 0 20px; 
}

.button-container button {
    width: 100%;
    padding: 10px; 
}

#vid-grid-container {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 70px;
}

}

/* Desktop Styles */
@media (min-width: 1500px) {
  .back p {
    font-size: 18px;
  }
  .input {
    font-size: 18px;
  }
  .results-container ul li {
    font-size: 18px;
  }
  #vid-grid-container {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 80px;
  }
  .button-container {
    max-width: 900px;   
}
  .des-container p {
    font-size: 20px;
  }
  .view-more-button, .go-home-button {
    font-size: 22px;
  }
  #skyline-container button {
    width: 400px;
    height: 58px;
    border-radius: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 1;
  }
  #large-only-nav {
    visibility: visible;
  }
  #navbar {
    width: 100%;
    height: 88px;
  }
  .nav-pic {
    width: 160px;
  }
  #navbar .menu-icon-contain {
    visibility: hidden;
  }
  #mymenu {
    display: hidden;
  }
  .mymenu ul {
    flex-grow: 1;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  #hero-section img {
    height: 700px;
    width: 100%;
  }
  h1 {
    color: rgb(26, 26, 26);
    padding: 30px 16px 20px 0px;
    font-weight: 500;
    font-size: 32px;
  }
  a,
  p {
    font-size: 20px;
  }
  li a {
    font-size: 18px;
  }
  .color-section,
  #section2 {
    padding-left: 220px;
    padding-right: 220px;
  }
  .outer-card {
    padding-left: 1em;
    padding-top: 13em;
    flex: 1 1 calc(25% - 1em);
  }
  .character-card {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
  }
  .top-color h2 {
    font-size: 32px;
  }
  .des-container p {
    font-size: 20px;
  }
  #first-content-home {
    padding: 100px;
  }
  #first-content-home-header {
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer-pic {
    width: 12%;
  }
}


@media (prefers-color-scheme: dark) {
  #skyline-container::before{
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 29, 35, 0.312); 
  }
  
  #skyline-container button {
    background-color: rgba(36, 19, 43, 0.548);
    border: none; 
  }
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid black 2px;
  }
  .content {
    position: relative; 
    z-index: 2; 
    text-align: center; 
}

  #navbar{
    background-color: #141414;
    background-image: url('https://c.pxhere.com/photos/39/83/astronomy_constellation_dark_galaxy_night_night_sky_orion_space-1563485.jpg!d'); 
    background-size: cover; 
    background-position: center;
  }
  #mymenu {
    background-color: rgb(22, 22, 22);
  }
  .input, h1, .p-describe {
    color: rgb(237, 237, 237);; 
  }s
  .input {
    border: solid 1px rgb(237, 237, 237);
  }
  .input, .grid-container, .color-section, #section2, #hero-section, #video-section{
    background-color:  rgb(22, 22, 22);
  }
  #light-footer-pic {
    display: none;
  }
  #footer-div {
    background-color: black;
  }
  footer #dark-footer-pic {
    width: 100%;
    display: block;
    margin: 0; 
  }
  #dark-footer-pic {
    display: block;
  }

  .view-more-button {
    background-color: #556089;;
  }
  .go-home-button {
    border: solid 1px white;
    background-color: rgb(22, 22, 22);
    color: white;
  }
  
  .char-card-spacing {
    background-color: rgb(22, 22, 22);
    color: white;
  }
  .button-container, body {
    background-color: rgb(22, 22, 22);
  }
  .back p {
    color: whitesmoke; 
  }
  
  .results-container {
    background-color: rgb(22, 22, 22);
  }
  
  .results-container ul li {
    color: whitesmoke;
    background-color: rgb(32, 32, 32);
  }
  
}




